<html>
<h1>{{ansible_hostname}} is manged by Ansible</h1>
<h2>Welcome to Host	:	{{ansible_fqdn}}</h2>
<h2>Host IP Address	:	{{ansible_all_ipv4_addresses}}</h2>
<h2>OS Family		:	{{ansible_os_family}}</h2>
<h2>OS Arch		:	{{ansible_architecture}}</h2>
<h2>Uptime		:	{{ansible_uptime_seconds}}</h2>
<h2>Ansible Admin	:	Amit Vashist</h2>
</body>
</html>
